<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital">Biz Kimiz ?</div>
                <p class="about_text">5 yılı aşkın özgün tecrübemizle eğitime sürekli değer katmaya çalışan ve git gide büyüyen bir ekibin parçasıyız. Eğitim alanına bambaşka bir bakış açısı getirmek için çalışıyoruz</p>
                <div class="read_bt"><a href="/Default/Index/">Göz Atın</a></div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="~/TempPortal/images/about-img.png"></div>
            </div>
        </div>
    </div>
</div>